.section__lancamento__video {
  padding: 0% 1% 0%;
  margin-bottom: auto;
}

.section__lancamento__video__div {
  aspect-ratio: 16/9;
  float: right;
  width: 40vw;
}

.section__lancamento__video__div__descricao {
  width: 50%;
  padding-top: 2%;
}

.section__lancamento__video__div__titulo {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-left: 2%;
  margin-right: 2%;
}
.section__lancamento__video__div__texto {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}

#section__lancamento__video__div__frame {
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px var(--cor-azul-forte);
}
ul.modelcars {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.modelcars:hover > :not(:hover) {
  opacity: 0.8;
}

ul.modelcars li {
  display: inline-block;
  text-align: left;

  vertical-align: top;
  border-radius: 6px;
}

ul.modelcars li:hover {
  border-radius: 6px;
}

img.photocar {
  display: block;
  width: 250px;
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid #1b357e;
}

.infocar div {
  display: inline-block;
}

.info {
  width: 200px;
  vertical-align: top;
}

.textmodel {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #1351d8;
}
.textprice {
  display: block;
  text-align: left;
  font-size: 10px;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;
  font-size: 0.7rem;
}

th,
td {
  text-align: left;
  padding: 8px;
}

td:nth-child(1) {
  font-weight: 700;
  width: 40%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

div#compare {
  position: absolute;
  display: none;
  width: 50%;
  max-width: 700px;
  min-width: fit-content;
  height: fit-content;
  max-height: 700px;

  min-height: 350px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* right: 12.5vw; */

  border-radius: 10px;
  /* padding: 10px; */
  -webkit-box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
  box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
}

@media screen and (max-width: 300px) {
  div#compare {
    overflow: auto;
    min-width: 90%;
  }
}

.imagemProdutoTabela {
  width: 70%;
  min-width: 95px;
}
