@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background: #ffffff;
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

@keyframes transition {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

div#carousel {
  width: 70%;
  min-width: 320px;
  border: 2px solid #1b357e;
  outline-style: outset;
  outline-color: #1b357e;
  border-radius: 10px;
  border-style: inset;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  img {
    width: 100%;
    z-index: -1;
    animation: transition 1s linear;
  }
}

#carousel__nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.carousel__nav__botao {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  z-index: 5;
}
.carousel__nav__botao__selecionado {
  background-color: rgba(255, 255, 255, 0.9);
}

#carousel button {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

#carousel__anterior {
  left: 10px;
}

#carousel__proximo {
  right: 10px;
}

#carousel button:hover {
  background: rgba(0, 0, 0, 0.8);
}
div#carousel-title a {
  text-decoration: none;
  animation: transition 1s;
  color: #1351d8;
  margin: 0 auto;
  max-width: fit-content;
}

div#carousel-title {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 70%;
}

header {
  display: flex;
  align-items: center;
}

header ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ul {
  display: inline-block;
}

header {
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}
.header__logo {
  width: 8%;
}
#header__centralizar {
  width: 8%;
}

header nav {
  display: inline-block;
  vertical-align: middle;
  width: 80vw;
}

header nav a {
  color: #1351d8;
  font-size: 20px;
  text-decoration: none;
  font-weight: 900;
  margin-left: 14px;
  margin-right: 14px;
}

header nav a:hover {
  color: #1b357e;
  text-decoration: none;
  font-weight: 900;
}

nav li {
  display: inline;
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

nav#social {
  display: inline;
  width: 80%;
}

nav#social ul img {
  width: 28px;
}

span.redesociais {
  color: #ffffff;
  vertical-align: super;
}

footer {
  background: #1b357e;
  padding: 20px;
}

footer div {
  display: inline;
  float: right;
  margin-right: 40px;
}

button:hover {
  background: #1b357e;
}
button {
  background: #1351d8;
  color: #fff;
  border: 0px;
  border-radius: 10px;
}
